version: "0.4.2-pre.0"
remoteDependencies: [
  "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"
]
dependencies:
  require: "distri/require:v0.4.2"
  interactive: "distri/interactive:v0.8.3"
  q: "distri/q:v1.0.1"
