version: "0.1.1"
remoteDependencies: [
  "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"
  "http://strd6.github.io/tempest/javascripts/envweb.js"
  "http://strd6.github.io/require/master.js"
]
